.btn-box {
  display: flex;
  margin-top: 1rem;
}

.btn-box button {
  font-size: 1rem;
  padding: 10px 15px;
  background: none;
  border: none;
  background-color: #333;
  color: white;
}

.btn-box button:hover {
  background-color: #04aa6d;
  color: white;
}
